$mobile-design-max-width: 500px;

.calculator {
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  padding: 24px;
  width: 50%;
  margin: 6% auto auto;
  @media (max-width: $mobile-design-max-width) {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  & > div {
    width: 50%;
    @media (max-width: $mobile-design-max-width) {
      width: 100%;
    }
  }

  .inputsPart {
    margin: 8px 16px 8px 0;

    > div + div {
      margin-top: 24px;
    }
  }

  .tipWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    & > div {
      flex: 0 0 calc(100% / 3 - 8px);
      width: 100%;
      @media (max-width: $mobile-design-max-width) {
        flex: 0 0 calc(100% / 2 - 8px);
      }
    }
  }
}