.radioAsButton {
  position: relative;
  input {
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 100%;
     cursor: pointer;
    &:checked +  label {
      background-color: var(--strong-cyan);
      border-color: var(--strong-cyan);
      color: var(--very-dark-cyan);
    }
    &:hover + label {
      color: var(--very-dark-cyan);
      border-color: var(--strong-cyan);
      background-color: var(--lighter-grayish-cyan);
    }
  }

  label {
    font-weight: 900;
    border-radius: 4px;
    padding: 4px;
    color: var(--white);
    background-color: var(--very-dark-cyan);
    width: 100%;
    display: block;
    text-align: center;
    border: 1px solid var(--very-dark-cyan);
    transition: 0.3s ease-in-out all;
  }
}